body {
	margin: 0px;
	padding: 0px;
}
header {
	margin: 0px;
	padding: 0px;
	background-color: #0A0E29;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
}
nav {
	margin: 0px;
	padding: 0px;
}
nav a {
	margin: 0px 20px;
	color: #ffffff !important;
}
nav a:hover {
	color: #DBB13B !important;
}
.logo {
	border-radius: 50%;
}
footer a {
	text-decoration: none;
	color: #E5E5E5;
}
footer a:hover {
	text-decoration: none;
	color: #DBB13B;
}
footer {
	font-family: Roboto;
	background-color: #0A0E29;
}
footer i {
	float: left;
	margin-left: 10%;
	margin-top: 1%;
	color: #E5E5E5;
}
#havequestion {
	font-size: 36px;
	margin-left: 15%;
	color: #C4C4C4;
	text-align: center;
}
.contact {
	font-size: 24px;
	color: #C4C4C4;
	text-align: center;
}
.bottomlinks {
	margin-left: 45%;
	font-size: 24px;
}
.footertext {
	font-size: 24px;
	margin-left: 40%;
	color: #C4C4C4;
}
.footerlogo {
	width: 190px;
	height: 190px;
	float: left;
	margin-top: auto;
}
#FooterLinkedIn {
	width: 50px;
	height: 50px;
}
#FooterFacebook {
	width: 55px;
	height: 50px;
	margin-left: 5%;
}
#FooterInsta {
	width: 60px;
	height: 55px;
	margin-left: 5%;
}
@media screen and (max-width: 1120px) {
	nav a {
		margin: 0px 12px;
	}
}
@media screen and (max-width: 991px) {
    .socials {
        margin-left: 25%;
        align-items: center;
    }
}
@media screen and (max-width:1200px) {
    .isteImage {
        margin-bottom: 55%;
    }
}
